################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Taskus/FileContentIndex/7cdc52d8-1a42-4e05-9535-dda49326aae3.vsidx
/.vs/Taskus/FileContentIndex/f62d6c44-662a-4e28-8733-798e0d9f6dba.vsidx
