################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Taskus/FileContentIndex/7cdc52d8-1a42-4e05-9535-dda49326aae3.vsidx
